{% load static %}

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">
</br>
<h1>Accueil Nageur</h1>
<br/>
<p>Salut à toi jeune nageur sauvage.</p>
<button class="favorite styled"
        type="button"
        name="deconnexion">
    Add to favorites
</button>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} style="text-align: center; color: red; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}