{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-purple"> <!-- Ajout de la classe "bg-purple" -->
  <a class="navbar-brand" href="">Lyon Palme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'inscription:Accueil' %}">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_nageur' %}">Nageur</a>
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_secretaire' %}">Secrétaire</a>

    </div>
  </div>
</nav>

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">
</br>
<h1>LYONPALME</h1>
<br/>

<p>Lyon Palme - Votre compagnon pour la gestion des nageurs

  Lyon Palme est une entreprise basée à Lyon dédiée à la gestion des informations des nageurs. Notre objectif est de faciliter la vie des nageurs en leur offrant une plateforme pratique et conviviale pour consulter leurs informations personnelles et interagir avec leur communauté de nage.<br>
  <br>
  Notre site web, conçu spécialement pour les nageurs, offre une variété de fonctionnalités pour répondre à leurs besoins. Les nageurs inscrits peuvent accéder à leur propre trombinoscope, où ils peuvent voir les visages familiers de leurs camarades de nage. Cela facilite grandement l'identification des nageurs lors des séances d'entraînement ou des compétitions.<br>
  
  De plus, notre plateforme permet aux nageurs de consulter leurs informations personnelles telles que les horaires d'entraînement, les progrès de leur performance, les résultats des compétitions passées et bien plus encore. Ils peuvent également communiquer avec les entraîneurs et les autres membres de l'équipe via des fonctionnalités de messagerie intégrées, favorisant ainsi l'échange d'informations et le soutien mutuel.<br>
  <br>
  Mais Lyon Palme ne s'adresse pas seulement aux nageurs. Nous avons également développé des fonctionnalités spéciales pour les secrétaires et les administrateurs chargés de la gestion des données des nageurs. Notre interface d'administration intuitive permet de gérer facilement les profils des nageurs, de mettre à jour les informations, d'ajouter de nouvelles photos au trombinoscope et de gérer les horaires et les compétitions. Cela simplifie considérablement la tâche des responsables et garantit que toutes les informations sont correctes et à jour.<br>
  
  Chez Lyon Palme, nous sommes passionnés par la natation et nous nous efforçons de fournir un outil puissant et convivial pour les nageurs et ceux qui les soutiennent. Notre site web est conçu pour être accessible et facile à naviguer, offrant une expérience utilisateur agréable à tous les utilisateurs.<br>
  
  Rejoignez-nous dès aujourd'hui et découvrez comment Lyon Palme peut améliorer votre expérience de nage et faciliter la gestion des informations pour les responsables. Faites partie de notre communauté de nage dynamique et restez connecté avec vos collègues nageurs !</p>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} style="text-align: center; color: red; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}
<br/>
<br/>
<br/>
<footer>
  <div class="privacy-policy">
    <a href="{% url 'inscription:politique_confidentialite' %}">Politique de confidentialité</a>
  </div>
</footer>