{% block content %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<nav style="margin-left:2%" class="navbar navbar-expand-lg navbar-light bg-purple"> <!-- Ajout de la classe "bg-purple" -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-brand" style="font-family:Helvetica;font-weight:bold;color:rgb(80, 53, 130);" href="{% url 'inscription:Accueil' %}"><img src="https://images.benchmarkemail.com/client1514081/image13204250.png"  style ="max-width: 150px;"></a>      
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_nageur' %}">Nageur</a>
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_secretaire' %}">Secrétaire</a>
      <a class="nav-item nav-link" href="{% url 'inscription:logout_view' %}">Déconnexion</a>
    </div>
  </div>
</nav>

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">
</br>
</br>
  <h1 style="color : rgb(80, 53, 130);">Changez votre mot de passe</h1>
</br>
  <form method="post" action="">
  {% csrf_token %}
    <div>
      <label for="old_password">Mot de passe actuel :</label>
      <input type="password" id="old_password" name="old_password" required>
    </div>
    <div class="form-group">
      <label for="new_password1">Nouveau mot de passe :</label>
      <input type="password" id="new_password1" name="new_password1" required>
    </div>
    <div class="form-group">
      <label for="new_password2">Confirmez le nouveau mot de passe :</label>
      <input type="password" id="new_password2" name="new_password2" required>
    </div>
  </br>
  </br>
    <center><button type="submit" class="btn btn-primary" style="text-align:center;word-break: break-all; box-sizing: border-box; text-align:center; display: inline-block;padding-left: 30px; padding-right: 30px;padding-top: 20px; padding-bottom: 20px;background-color:rgb(80, 53, 130); border: rgba(0, 0, 0, 0) solid 0px; border-radius: 2px;font-family :Helvetica, Arial, sans-serif; font-size: 14px;color: rgb(255, 255, 255); line-height: 1; letter-spacing:1pxpx;">Modifier le mot de passe</button></center>
  </form>
</br>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} style="text-align: center; color: red; font-weight: bold;" class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}

