{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-purple"> <!-- Ajout de la classe "bg-purple" -->
  <a class="navbar-brand" href="">Lyon Palme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'inscription:Accueil' %}">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_nageur' %}">Nageur</a>
      <a class="nav-item nav-link" href="{% url 'inscription:accueil_secretaire' %}">Secrétaire</a>
    </div>
  </div>
</nav>
<link rel="stylesheet" href="{% static 'inscription/style.css' %}">

{% block content %}
</br>
</br>
  <h1>Connexion</h1>
</br>
  {% if form.errors %}
    <p>Votre nom d'utilisateur et/ou mot de passe sont incorrects.</p>
  {% endif %}
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
  </br>
</br>
    <center><button type="submit" style="text-align:center;word-break: break-all; box-sizing: border-box; text-align:center; display: inline-block;padding-left: 30px; padding-right: 30px;padding-top: 20px; padding-bottom: 20px;background-color:rgb(80, 53, 130); border: rgba(0, 0, 0, 0) solid 0px; border-radius: 2px;font-family :Helvetica, Arial, sans-serif; font-size: 14px;color: rgb(255, 255, 255); line-height: 1; letter-spacing:1pxpx;">Connexion</button></center>
  </form>
{% endblock %}
