{% load static %}

<link rel="stylesheet" href="{% static 'inscription/style.css' %}">

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Modification nageur</title>
        <br/>
        <br/>
        <div class="formbox-title_WAM32"><p style="background: #9dcff2;text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(80, 53, 130); font-size: 48px;" data-mce-style="color: #503582; font-size: 48px;"><strong><span style="font-family: Arial, Helvetica, sans-serif;" data-mce-style="font-family: Arial, Helvetica, sans-serif;">Formulaire de modification</span></strong></span></p><p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 16px;" data-mce-style="font-size: 16px;"><em><span style="color: rgb(80, 53, 130);" data-mce-style="color: #503582;"><strong><span style="font-family: Arial, Helvetica, sans-serif;" data-mce-style="font-family: Arial, Helvetica, sans-serif;">Complétez chacun des champs ci-dessous</span></strong></span></em></span></p></div>
        <div class="formbox-field_WAM32" style="text-align: center; padding: 0px 40px;"><img src="https://images.benchmarkemail.com/client1514081/image13204250.png"  style ="max-width: 50%;"></div>
        <div class="formbox-editor_WAM32" style="background: #9dcff2; height : auto;"><div id="formbox_screen_subscribe_WAM32" style="display:block;" name="frmLB_WAM32">
        <br/>
        <br/>
    </head>
    <body>
        <form action="{% url 'inscription:inscription_form' %}" method="post">
            {% csrf_token %}
            
        </form>
    </body>
</html>